@page
@model K_Box_project.Pages.BokaNuModel
@{
}
<!-- ======= Skills Section ======= -->
<section id="BokaNu">
    <div class="container" data-aos="fade-up">
        <h1 id="Title-H1" class="text-center">BOKA TID</h1>
        <div class="progresses py-4">
            <ul class="d-flex align-items-center justify-content-between">
                <li id="step-1" class="blue"></li>
                <li id="step-2"></li>
                <li id="step-3"></li>
            </ul>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="form-area">
            <form role="form">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="disabledSelect" class="form-label">Plats*</label>
                        <select id="disabledSelect" class="form-select">
                            <option>Stockholm</option>
                            <option>Linköping</option>
                            <option>Göteborg</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledSelect" class="form-label">Datum*</label>
                    <input type="date" id="start" class="form-control text-left mr-2" />
                </div>
                <div class="form-group">
                    <label for="disabledSelect" class="form-label">Rumtyp*</label>
                    <select id="disabledSelect" class="form-select">
                        <option>VIP</option>
                        <option>Deluxe</option>
                        <option>Premier</option>
                        <option>Superior</option>
                        <option>Standard</option>
                        <option>Eko</option>
                        <option>Minimal</option>
                        <option>Party</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                    <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                </div>

                <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
            </form>
        </div>
    </div>
</section><!-- End Skills Section -->
