@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="custom-shape-divider-bottom-1634397922">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 class="text-white" style="font-size:44px;">Upplev över 10,000 låtar på en plats med <span style="color: #f55161;">K-BOX</span></h1>
        <h2 class="text-white">Boka ett av våra 4 privata karaokerum från 3-14 personer. Ta med företaget, kompisgänget eller möhippan på en isbrytare i världsklass!</h2>
        <h2 class="text-white">Vi är i tre städer: Stockholm, Linköping och Göteborg</h2>
        <div class="d-flex">
            <a href="#featured-services" class="btn text-light scrollto bg-danger fs-3">Läs mer!</a>
        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <section id="featured-services" class="featured-services">
        <div data-aos="fade-up">
            <div class="text-center">
                <h1 class="p-3" id="Title-H1">K-RUM</h1>
                <p class="krum-desc">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>

                <div class="container m-auto w-75">
                    <div>
                        <!-- Controls -->
                        <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                            <span aria-hidden="true" class="left-arrow"><img src="https://img.icons8.com/external-becris-lineal-becris/64/fa314a/external-left-arrow-mintab-for-ios-becris-lineal-becris.png" /></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                            <span aria-hidden="true" class="right-arrow bx-rotate-180"><img src="https://img.icons8.com/external-becris-lineal-becris/64/fa314a/external-left-arrow-mintab-for-ios-becris-lineal-becris.png" /></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div id="carousel-example" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3 active">
                                <img src="assets/img/vip.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                <h1 class="p-2">VIP</h1>
                                <p>Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                            </div>
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3">
                                <img src="assets/img/deluxe.jpg" class="img-fluid mx-auto d-block" alt="img2">
                                <h1 class="p-2">Deluxe</h1>
                                <p>Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                            </div>
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3">
                                <img src="assets/img/Superior.jpg" class="img-fluid mx-auto d-block" alt="img3">
                                <h1 class="p-2">Superior</h1>
                                <p>Swab barque gangway interloper chantey grog black jack gangway rutters.</p>
                            </div>
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3">
                                <img src="assets/img/premier.jpg" class="img-fluid mx-auto d-block" alt="img4">
                                <h1 class="p-2">Premier</h1>
                                <p>Swab barque interloper starboard grog black jack gangway rutters.</p>
                            </div>
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3">
                                <img src="assets/img/vip.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                <h1 class="p-2">VIP</h1>
                                <p>Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                            </div>
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3">
                                <img src="assets/img/deluxe.jpg" class="img-fluid mx-auto d-block" alt="img2">
                                <h1 class="p-2">Deluxe</h1>
                                <p>Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                            </div>
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3">
                                <img src="assets/img/Superior.jpg" class="img-fluid mx-auto d-block" alt="img3">
                                <h1 class="p-2">Superior</h1>
                                <p>Swab barque gangway interloper chantey grog black jack gangway rutters.</p>
                            </div>
                            <div class="carousel-item col-12 col-sm-3 col-md-4 col-lg-3">
                                <img src="assets/img/premier.jpg" class="img-fluid mx-auto d-block" alt="img4">
                                <h1 class="p-2">Premier</h1>
                                <p>Swab barque interloper starboard grog black jack gangway rutters.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="bg-black">
        <div class="custom-shape-divider-top-1634406910">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill2"></path>
            </svg>
        </div>
        <div class="container" style="padding: 160px 60px 160px;" data-aos="fade-up">

            <h1 class="text-light">ERBJUDANDE</h1>
            <div class="row">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" style="margin: 0 auto; height: 0;">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-lg-6">
                                <h3 class="text-light" style="padding-top:30px;">OKTOBERFEST</h3>
                                <p class="text-light">
                                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/img/oktoberfest.gif" alt="Oktoberfest" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-6">
                                <h3 class="text-light" style="padding-top:30px;">STUDENTRABATT 15%</h3>
                                <p class="text-light">
                                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/img/studentrabatt.jpg" alt="Oktoberfest" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-6">
                                <h3 class="text-light" style="padding-top:30px;">AFTERWORK</h3>
                                <p class="text-light">
                                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/img/AW.jpg" alt="Oktoberfest" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!--<div class="col-lg-6">-->
                    <!-- Wrapper for slides -->
                    <!--<div class="carousel-inner">
                            <div class="item active">

                            </div>

                            <div class="item">
                                <img src="/assets/img/studentrabatt.jpg" alt="StudentRabatt" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>

                            <div class="item">
                                <img src="/assets/img/AW.jpg" alt="AW" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>


                    </div>-->
                </div>
            </div>
        </div>
        <svg style="transform:rotate(180deg); margin:-1px; width:100%;" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"><path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill" fill="#FFFFFF" fill-opacity="1"></path></svg>
    </div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="section-title" data-aos="fade-up">
            <h3><span>HITTA OSS</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-12">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 385px;" allowfullscreen></iframe>

               <div class="contact-us">

                    @*<div class="col section-title">
                        <h3 class="top"><span>KONTAKTA OSS</span></h3>
                    </div>*@
                   <div class="row">

                       @*<form action="forms/contact.php" method="post" role="form" class="col-lg-6 php-email-form">
            <div class="row">
                <div class="col form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ditt Namn" required>
                </div>
                <div class="col form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Ditt E-post" required>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Titel" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Meddelande" required></textarea>
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center" style="font-size: 16px;"><button type="submit">Skicka</button></div>
        </form>*@




                       
                       <div  class="row d-flex flex-row-reverse bd-highlight " >
                           <div class="col-lg-6 section-title">
                               <ul style="list-style: none;">

                                   <li>ÖPPETTIDER</li>
                                   <li>Ons: 19 – 02</li>
                                   <li>Tors:19 – 02</li>
                                   <li>Fre: 19 – 03</li>
                                   <li>Lör: 18 – 03</li>

                               </ul>
                           </div>
                       </div>

                       <div class="row d-flex flex-row-reverse bd-highlight">
                           <div class="col-lg-6 section-title">
                               <ul style="list-style: none;">

                                   <li>MAGASINSTORGET 3, 582 26 Linköping</li>
                                   <li>GÅRDTORGET 15, 405 30 Göteborg</li>
                                   <li>GLOBENTORGET 2, 104 65 Linköping</li>
                                   <li>info@kboxkaraoke.se</li>
                                   <li> 07-34 23 36</li>

                               </ul>
                           </div>
                       </div>







                   </div>
                    <div class="d-flex justify-content-center text-center">
                        <a href="#hero">
                            <img src="https://img.icons8.com/color/48/000000/double-up--v2.png" />
                            <p style="font-size:24px;">Gå upp</p>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
@*<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>*@
@*<a href="/BokaNu#BokaNu" class="back-to-top d-flex align-items-center justify-content-center"><i>Boka nu!</i></a>*@
