@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="custom-shape-divider-bottom-1634397922">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 class="text-white" style="font-size:44px;">Upplev över 10,000 låtar på en plats med <span style="color: #f55161;">K-BOX</span></h1>
        <h2 class="text-white">Boka ett av våra 4 privata karaokerum från 3-14 personer. Ta med företaget, kompisgänget eller möhippan på en isbrytare i världsklass!</h2>
        <h2 class="text-white">Vi är i tre städer: Stockholm, Linköping och Göteborg</h2>
        <div class="d-flex">
            <a href="#featured-services" class="btn text-light scrollto bg-danger fs-3">Läs mer!</a>
        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <section id="featured-services" class="featured-services">
        <div data-aos="fade-up">
            <div class="text-center">
                <h1 class="p-3" id="Title-H1" style="margin-top: 50px;">OM OSS</h1>
                <h2 style="margin-bottom: 40px;"><strong>PRIVATE KARAOKE ROOM - ROOM SERVICE - BAR</strong></h2>

                <div class="container">
                    <div class="row">
                        <div class="col" style="margin-bottom: 20px;">
                            <img src="~/assets/img/premier.jpg" />
                            <h2 style="margin-top: 20px; margin-bottom: 20px;"><strong>VARA K-RUM</strong></h2>
                            <p>Vi erbjuder 4 st privata karaokerum i olika storlekar och teman från 3 - 14 personer på Odenplan i Stockholm. Läs mer om våra rum under fliken VÅRA RUM och boka det som passar ert sällskap bäst!</p>
                        </div>
                        <div class="col" style="margin-bottom: 20px;">
                            <img src="~/assets/img/låtar.jpg" />
                            <h2 style="margin-top: 20px; margin-bottom: 20px;"><strong>TUSENTALS LÅTAR</strong></h2>
                            <p> Vi har tusentals karaoke låtar att välja mellan, Allt från ABBA till eminem, punk och r’n’b, Garanterat även din ‘go to song’. Ni kan kolla vårt utbud under fliken LÅTAR. Ni kan även skicka in en spellista på vilka låtar ni vill sjunga, så behöver ni endast trycka på play när ni kommer!</p>
                        </div>
                        <div class="col" style="margin-bottom: 20px;">
                            <img src="~/assets/img/rumservice.jpg" />
                            <h2 style="margin-top: 20px; margin-bottom: 20px;"><strong>ROOM SERVICE</strong></h2>
                            <p>Room service ingår i alla våra karaokerum, förutom i vårt största, där ingår bar och bartender. Ni använder er utav serviceknappen i rummet och våra karaokevärdar står redo för att serva er under kvällen.</p>
                        </div>
                    </div>
                </div>

                <a href="/BokaNu#BokaNu" class="bokanu-btn d-flex align-items-center justify-content-center"><i>Boka nu!</i></a>
            </div>
        </div>
    </section>

    <div class="bg-black">
        <div class="custom-shape-divider-top-1634406910">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill2"></path>
            </svg>
        </div>
        <div class="container" style="padding: 160px 60px 160px;" data-aos="fade-up">

            <h1 class="text-light">ERBJUDANDE</h1>
            <div class="row">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" style="margin: 0 auto; height: 0;">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-lg-6">
                                <h3 class="text-light" style="padding-top:30px;">OKTOBERFEST</h3>
                                <p class="text-light">
                                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/img/oktoberfest.gif" alt="Oktoberfest" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-6">
                                <h3 class="text-light" style="padding-top:30px;">STUDENTRABATT 15%</h3>
                                <p class="text-light">
                                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/img/studentrabatt.jpg" alt="Oktoberfest" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-6">
                                <h3 class="text-light" style="padding-top:30px;">AFTERWORK</h3>
                                <p class="text-light">
                                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/img/AW.jpg" alt="Oktoberfest" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!--<div class="col-lg-6">-->
                    <!-- Wrapper for slides -->
                    <!--<div class="carousel-inner">
                            <div class="item active">

                            </div>

                            <div class="item">
                                <img src="/assets/img/studentrabatt.jpg" alt="StudentRabatt" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>

                            <div class="item">
                                <img src="/assets/img/AW.jpg" alt="AW" style="width: 100%; height: 400px; object-fit: cover;">
                            </div>
                        </div>


                    </div>-->
                </div>
            </div>
        </div>
        <svg style="transform:rotate(180deg); margin:-1px; width:100%;" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"><path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill" fill="#FFFFFF" fill-opacity="1"></path></svg>
    </div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="section-title" data-aos="fade-up">
            <h3><span>HITTA OSS</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark" onclick="ChangeMap(1)">Göteborg</button>
                    <p class="font-weight-normal">
                        07-34 23 36
                        <br />
                        Skandicgatan 3,
                        <br />582 26 Göteborg
                    </p>
                </div>
                <div class="col">
                    <button class="btn btn-dark" onclick="ChangeMap(2)">Jönköping</button>
                    <p class="font-weight-normal">
                        07-87 65 22
                        <br />
                        Tunnelgatan 15,
                        <br />405 30 Jönköping
                    </p>
                </div>
                <div class="col">
                    <button class="btn btn-dark" onclick="ChangeMap(3)">Stockholm</button>
                    <p class="font-weight-normal">
                        07-32 44 79
                        <br />
                        Trägårdtorget 2,
                        <br />104 65 Stockholm
                    </p>
                </div>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-12">
                <iframe id="M1" class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d272886.8623484848!2d11.613661266434978!3d57.700682649121255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464f8e67966c073f%3A0x4019078290e7c40!2zR8O2dGVib3Jn!5e0!3m2!1ssv!2sse!4v1634914188978!5m2!1ssv!2sse" frameborder="0" style="border:0; width: 100%; height: 385px;" allowfullscreen></iframe>

                <div class="contact-us">

                    @*<div class="row">


                        <div class="row d-flex flex-row-reverse bd-highlight ">
                            <div class="col-lg-6 section-title">
                                <ul style="list-style: none;">

                                    <li>ÖPPETTIDER</li>
                                    <li>Ons: 19 – 02</li>
                                    <li>Tors:19 – 02</li>
                                    <li>Fre: 19 – 03</li>
                                    <li>Lör: 18 – 03</li>

                                </ul>
                            </div>
                        </div>

                        <div class="row d-flex flex-row-reverse bd-highlight">
                            <div class="col-lg-6 section-title">
                                <ul style="list-style: none;">

                                    <li>MAGASINSTORGET 3, 582 26 Linköping</li>
                                    <li>GÅRDTORGET 15, 405 30 Göteborg</li>
                                    <li>GLOBENTORGET 2, 104 65 Linköping</li>
                                    <li>info@kboxkaraoke.se</li>
                                    <li> 07-34 23 36</li>

                                </ul>
                            </div>
                        </div>

                    </div>*@
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
@*<footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>*@
@*<a href="/BokaNu#BokaNu" class="back-to-top d-flex align-items-center justify-content-center"><i>Boka nu!</i></a>*@
