@page
@model K_Box_project.Pages.MenyModel
@{
}
<section id="Meny" style="background-color: mistyrose; background-image: url('assets/img/MenyPattern.png'); background-size: 80%; background-repeat: no-repeat; background-position-x: center; background-position-y: 40px;">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3 style="color: #f55161;">HUNGRIG?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat ullamcorper ligula nec elementum. Aenean fermentum pellentesque rutrum.</p>
        </div>
        <div class="p-4 container bg-white shadow-sm">
            <div class="bg-light">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th colspan="2"><h4>Snaks</h4><hr /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pommes Frites</td>
                            <td class="text-right">45:-</td>
                        </tr>
                        <tr>
                            <td>Picklad Morot</td>
                            <td class="text-right">45:-</td>
                        </tr>
                        <tr>
                            <td>Kimchi</td>
                            <td class="text-right">45:-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th colspan="2"><h4>Större Rätter</h4><hr /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Köttbullar med Potatismos</td>
                            <td class="text-right">95:-</td>
                        </tr>
                        <tr>
                            <td>Stekt Ris</td>
                            <td class="text-right">95:-</td>
                        </tr>
                        <tr>
                            <td>Grillad Fisk</td>
                            <td class="text-right">105:-</td>
                        </tr>
                        <tr>
                            <td>Pizza mad Kött och Ost</td>
                            <td class="text-right">105:-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th colspan="2"><h4>Drinkar &Aacute; Öl</h4><hr /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Öl</td>
                            <td class="text-right">Från 65:-</td>
                        </tr>
                        <tr>
                            <td>Vin</td>
                            <td class="text-right">Från 75:-</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-borderless" style="background-color: transparent;">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Alkoholfritt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Läsk</td>
                                            <td class="text-right">28:-</td>
                                        </tr>
                                        <tr>
                                            <td>Öl</td>
                                            <td class="text-right">45:-</td>
                                        </tr>
                                        <tr>
                                            <td>Kaffe</td>
                                            <td class="text-right">32:-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="container">
                    <h4 class="text-center">Set Meny</h4><hr />
                    <div class="row">
                        <h5 class="text-center">K-BOX SPECIAL 1</h5>
                        <p class="text-center">129:-</p>
                        <p class="text-center" style="color: #444444;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat ullamcorper ligula nec elementum. Aenean fermentum pellentesque rutrum.</p>
                    </div>
                    <div class="row">
                        <h5 class="text-center">K-BOX SPECIAL 2</h5>
                        <p class="text-center">149:-</p>
                        <p class="text-center" style="color: #444444;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat ullamcorper ligula nec elementum. Aenean fermentum pellentesque rutrum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>